# Payload vars
PORT=3000
DATABASE_URI=mongodb+srv://<MONGODB_USER>:<MONGODB_PASS>@<MONGODB_CLUSTER>/<DB_NAME>?retryWrites=true&w=majority
# Example alternative (if you use SRV connection strings):
# DATABASE_URI=mongodb+srv://<MONGODB_USER>:<MONGODB_PASS>@<MONGODB_CLUSTER>/<DB_NAME>?appName=Cluster0


PAYLOAD_SECRET=CHANGE_ME_PAYLOAD_SECRET
PAYLOAD_PUBLIC_SERVER_URL=http://localhost:3000
STRIPE_SECRET_KEY=CHANGE_ME_STRIPE_SECRET_KEY

PAYLOAD_PUBLIC_STRIPE_IS_TEST_KEY=true
STRIPE_WEBHOOKS_SIGNING_SECRET=CHANGE_ME_STRIPE_WEBHOOKS_SIGNING_SECRET
PAYLOAD_PUBLIC_DRAFT_SECRET=CHANGE_ME_PAYLOAD_PUBLIC_DRAFT_SECRET
REVALIDATION_KEY=CHANGE_ME_REVALIDATION_KEY

# Next.js vars
NEXT_PUBLIC_SERVER_URL=http://localhost:3000
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=CHANGE_ME_NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY
NEXT_PUBLIC_IS_LIVE=true
NEXT_PRIVATE_DRAFT_SECRET=CHANGE_ME_NEXT_PRIVATE_DRAFT_SECRET
NEXT_PRIVATE_REVALIDATION_KEY=CHANGE_ME_NEXT_PRIVATE_REVALIDATION_KEY
